p{
color:#ffffff;
}
video{
position:absolute;
left:10px;
top:28px;
overflow:hidden;
width:110px;
height:220px;
z-index:-2;
}
#divVideo{
position:relative;
left:-85px;
z-index:4;
width:120px;
height:255px;
}
