@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin transform($scales, $Xtranslate, $Ytranslate){
  -webkit-transform:  scale($scales) translate($Xtranslate, $Ytranslate);
  -moz-transform: scale($scales) translate($Xtranslate, $Ytranslate);
  -ms-transform:   scale($scales) translate($Xtranslate, $Ytranslate);
  -o-transform:   scale($scales) translate($Xtranslate, $Ytranslate);
  transform:  scale($scales) translate($Xtranslate, $Ytranslate);
}
@mixin transform2($scales){
  -webkit-transform:  scale($scales);
  -moz-transform: scale($scales) ;
  -ms-transform:   scale($scales);
  -o-transform:   scale($scales);
  transform:  scale($scales);
}

.wrapper{
  @include flexbox();
}

#toolbar {
    padding:0;
    width:70%;
    margin-left:-35%;
z-index:2;
}

.example-spacer {
    flex: 1 1 auto;
  }

.damepique_image{
  @include  transform(.4,800px,-1900px);
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
}

@-webkit-keyframes example {
  from {@include  transform(.35,500px,-1900px);}
  to {@include  transform(.4,800px,-1900px)}
}

/* Standard syntax */
@keyframes example {
  0%{@include  transform(.35,500px,-1900px); }
 100%{@include  transform(.4,800px,-1900px); }
}

.damepique{
  background:#000000;
}
.iconeMenuSmall{
  color:#ffffff;
}
.mat-tollbar_membres{
  background:#000000;
}
.menuButton{
  background-color: #000000;
}
header {
    background:#000000;
    width:100%;
    z-index:3;
}
#test1{
text-align:left;

}
#test2{
text-align:right;
size:50;
color:orangered
}
.basic-btn2 {
    width:100px;
    margin:0;
    color:#ffffff
}

#troisLignes{
max-height:60px;
max-width:60px;

}

#button{
position:fixed;
right:5px;

}

#menu{
color:#ffffff;
}
.dropdown-menu{
background:#000000;
width:150px;
}

.dropdown-menu a span{
color:#ffffff;
text-align:center;
}


#page {
    padding:3em;
    margin:0;
z-index:2;
}

#page img {
    margin-top:30px;
}

h2 {
    margin:0;
}

#joueurEnLigne{
  color:#ffffff;
}
#reine{
position:relative;
bottom:0px;
}

#main{
position:absolute;
bottom:0px;
}

@media (max-width: 600px) {
    #page {
        padding:1em;
    }
    #toolbar {
        width:90%;
        margin-left: -45%;
    }
}
